.top-books-container {
    margin-top: 20px;
}

.book-item {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.read-count {
    color: #888;
}